<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Laralink">
    <!-- Favicon Icon -->
    <link rel="icon" href="/public/img/favicon.png">
    <!-- Site Title -->
    <title>Indian Cancer Society | Kolkata</title>
    
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/fontawesome.min.css">
    <link rel="stylesheet" href="/public/css/animate.css">
    <link rel="stylesheet" href="/public/css/swiper.min.css">
    <link rel="stylesheet" href="/public/css/odometer.css">
    <link rel="stylesheet" href="/public/css/style.css">
  </head>
  <body>
    <div class="cursor" id="client_cursor">View</div>
    <!-- Start Preloader -->
    <div class="cs_perloader">
      <div class="cs_perloader_in">
        <div class="cs_perloader_dots_wrap">
          <div class="cs_perloader_dots"><i></i><i></i><i></i><i></i></div>
        </div>
      </div>
      <span class="cs_perloader_text">Loading...</span>
    </div>
    <!-- End Preloader -->
    <!-- Start Header Section -->
    <header class="cs_site_header cs_style_1 cs_sticky_header cs_primary_color">
      <div class="cs_main_header">
        <div class="container">
          <div class="cs_main_header_in">
            <div class="cs_main_header_left">
              <a class="cs_site_branding" href="index-light.html">
                <img src="/public/img/logo/logo.png" alt="Logo">
              </a>
            </div>
            <div class="cs_main_header_center">
              <div class="cs_nav cs_medium cs_primary_font">
                <ul class="cs_nav_list">
                 
                  <li><a href="/">Home</a></li>
                  <li class="menu-item-has-children">
                    <a href="/about">About Us</a>
                    <ul>
                      <li><a href="/leadership">Leadership</a></li>
                      <li><a href="/contact">Contact Us</a></li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="/activities">Activities</a>
                    <ul>
                      <li><a href="/activities/health-camps">Health Camps </a></li>
                      <li><a href="/activities/programs">Programs</a></li>
                      <li><a href="/activities/clinics">Women Wellness Clinic</a></li>
                    </ul>
                  </li>
                  <li class="menu-item-has-children">
                    <a href="/risk-prevention">Risk Prevention & Screening</a>
                    <ul>
                      <li>
                        <a href="shop-product-details-light.html">Detect Cancer Early</a>
                      </li>
                      <li>
                        <a href="shop-cart-light.html">What Causes Cancer & Cancer Facts</a>
                      </li>
                      <li>
                        <a href="shop-checkout-light.html">Lifestyle & Healthy Habits</a>
                      </li>
                    
                    </ul>
                  </li>
                  
                </ul>
              </div>
            </div>
            <div class="cs_main_header_right">
              <a href="/contact" class="cs_btn cs_style_1">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- End Header Section -->
    <!-- Start Hero -->
    <section class="cs_hero cs_style_2 cs_gray_bg position-relative">
      <div class="container">
        <div class="cs_hero_text position-relative">
          <p class="cs_hero_top_title cs_medium cs_fs_18 cs_accent_color">
            
            <span class="cs_hero_arrow cs_accent_color"><i class="fa-solid fa-chevron-right"></i></span>
            <span class="">Indian Cancer Society Kolkata</span>
          </p>
          <h1 class="cs_hero_title cs_fs_48 wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.2s">
            Advocating Hope, Early Detection, and Support in the Fight Against Cancer 
          </h1>
        </div>
        <div class="row cs_gap_y_40 align-items-center">
          <div class="col-lg-7">
            <div class="cs_hero_img cs_parallax">
              <div class="cs_hero_img_in cs_to_up_4">
                <img src="/public/img/Indian Cancer Society Kolkata.jpg" alt="Hero">
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="cs_hero_subtitle">
              <p class="mb-0">The Indian Cancer Society, Kolkata Branch, stands as a beacon of hope, dedicated to spreading awareness, facilitating early detection, and providing support in the fight against cancer in West Bengal since its inception in August 1985.</p>
              <a href="#service" class="cs_down_btn cs_center cs_primary_color">
                <svg width="8" height="33" viewBox="0 0 8 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M3.64645 32.3536C3.84171 32.5488 4.15829 32.5488 4.35355 32.3536L7.53554 29.1716C7.7308 28.9763 7.7308 28.6597 7.53554 28.4645C7.34027 28.2692 7.02369 28.2692 6.82843 28.4645L4 31.2929L1.17157 28.4645C0.976312 28.2692 0.65973 28.2692 0.464467 28.4645C0.269205 28.6597 0.269205 28.9763 0.464467 29.1716L3.64645 32.3536ZM3.5 2.18557e-08L3.5 32L4.5 32L4.5 -2.18557e-08L3.5 2.18557e-08Z" fill="currentColor"/>
                </svg>                
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <!-- Start About Section -->
    <section>
      <div class="cs_height_150 cs_height_lg_75"></div>
      <div class="container">
        <div class="row cs_gap_y_40 align-items-center">
          <div class="col-lg-6">
            <div class="cs_section_heading cs_style_1">
              
              <div class="cs_height_10 cs_height_lg_5"></div>
              <h2 class="cs_section_title cs_fs_50 mb-0">INTRODUCTION</h2>
              <div class="cs_height_30 cs_height_lg_30"></div>
              <p class="m-0">Welcome to the Indian Cancer Society, where our mission is to spread awareness that cancer is preventable and curable. We focus on early detection through community outreach and screening, offering emotional support and medical aid to those affected. Committed to holistic well-being, we establish cancer survivorship programs, helping individuals reclaim their lives post-treatment. Our efforts extend beyond, working to reintegrate survivors into society seamlessly. The Indian Cancer Society is not just about battling the disease; we're dedicated to advocating for cancer research, striving to create a future where the impact of cancer is significantly diminished. Join us in our fight for a cancer-free world.</p>
            </div>
            <div class="cs_height_40 cs_height_lg_30"></div>
           
            <div class="cs_height_40 cs_height_lg_30"></div>
            <a href="about-light.html" class="cs_btn cs_style_1">Learn More <span><i class="fa-solid fa-arrow-right"></i></span></a>
          </div>
          <div class="col-lg-5 offset-lg-1">
            <div class="cs_img_card_3_wrap cs_parallax">
              <div class="row">
                <div class="col-6">
                  <div class="cs_img_card cs_style_3 cs_radius_5 overflow-hidden">
                    <div class="cs_img_card_in cs_to_up_4">
                      <img src="/public/img/introduction/Indian Cancer Society, Kolkata 2.jpg" alt="About" class="cs_radius_5 introduction">
                      <img src="/public/img/introduction/Indian Cancer Society, Kolkata 3.jpg" alt="About" class="cs_radius_5">
                      <img src="/public/img/introduction/Indian Cancer Society, Kolkata 4.jpg" alt="About" class="cs_radius_5">
                      <img src="/public/img/introduction/Indian Cancer Society, Kolkata 5.jpg" alt="About" class="cs_radius_5">
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="cs_img_card cs_style_3 cs_radius_5 overflow-hidden d-flex align-items-end">
                    <div class="cs_img_card_in cs_to_down_4">
                      <img src="/public/img/introduction/Indian Cancer Society, Kolkata 10.jpg" alt="About" class="cs_radius_5">
                      <img src="/public/img/introduction/Indian Cancer Society, Kolkata 1.jpg" alt="About" class="cs_radius_5">
                      <img src="/public/img/introduction/Indian Cancer Society, Kolkata 8.jpg" alt="About" class="cs_radius_5">
                      <img src="/public/img/introduction/Indian Cancer Society, Kolkata 9.jpg" alt="About" class="cs_radius_5">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->
    <!-- Start Counter -->
    <div class="cs_height_125 cs_height_lg_70"></div>
    <div class="container">
      <div class="cs_counter_1_wrap">
        <div class="cs_counter cs_style_1 position-relative d-flex align-items-center">
          <div class="cs_counter_nmber mb-0 cs_fs_68 d-flex align-items-center cs_bold cs_primary_color"><span data-count-to="22" class="odometer"></span>k</div>
          <p class="cs_counter_title mb-0">Happy Customers</p>
        </div>
        <div class="cs_counter cs_style_1 position-relative d-flex align-items-center">
          <div class="cs_counter_nmber mb-0 cs_fs_68 d-flex align-items-center cs_bold cs_primary_color"><span data-count-to="15" class="odometer"></span>k</div>
          <p class="cs_counter_title mb-0">Work’s Completed</p>
        </div>
        <div class="cs_counter cs_style_1 position-relative d-flex align-items-center">
          <div class="cs_counter_nmber mb-0 cs_fs_68 d-flex align-items-center cs_bold cs_primary_color"><span data-count-to="121" class="odometer"></span></div>
          <p class="cs_counter_title mb-0">Skilled Team Members</p>
        </div>
        <div class="cs_counter cs_style_1 position-relative d-flex align-items-center">
          <div class="cs_counter_nmber mb-0 cs_fs_68 d-flex align-items-center cs_bold cs_primary_color"><span data-count-to="15" class="odometer"></span></div>
          <p class="cs_counter_title mb-0">Most Valuable Awards</p>
        </div>
      </div>
    </div>
    <!-- End Counter -->
    <!-- Start Case Study Section -->
    <section>
      <div class="cs_height_118 cs_height_lg_70"></div>
      <div class="container">
        <div class="cs_section_heading cs_style_1 text-center">
          
          <div class="cs_height_10 cs_height_lg_5"></div>
          <h2 class="cs_section_title cs_fs_50 mb-0">ACTIVITIES</h2>
        </div>
        <div class="cs_height_85 cs_height_lg_45"></div>
      </div>
      <div class="cs_case_study_1_list">
        <div class="cs_case_study cs_style_1 cs_hover_active active">
          <a href="case-study-details-light.html" class="cs_case_study_thumb cs_bg_filed" data-src="/public/img/activites/3.jpg"></a>
          <span class="cs_case_study_number cs_primary_font cs_accent_color cs_fs_38 cs_semibold position-absolute">01</span>
          <span class="cs_case_study_icon cs_center rounded-circle position-absolute"><i class="fa-solid fa-arrow-right"></i></span>
          <div class="cs_case_study_in">
           
            <h2 class="cs_case_study_title cs_fs_38 cs_white_color mb-0"><a href="case-study-details-light.html">Breast Cancer Awareness and Screening Camp</a></h2>
          </div>
        </div>
        <div class="cs_case_study cs_style_1 cs_hover_active">
          <a href="case-study-details-light.html" class="cs_case_study_thumb cs_bg_filed" data-src="/public/img/activites/4.jpg"></a>
          <span class="cs_case_study_number cs_primary_font cs_accent_color cs_fs_38 cs_semibold position-absolute">02</span>
          <span class="cs_case_study_icon cs_center rounded-circle position-absolute"><i class="fa-solid fa-arrow-right"></i></span>
          <div class="cs_case_study_in">
            
            <h2 class="cs_case_study_title cs_fs_38 cs_white_color mb-0"><a href="case-study-details-light.html">Awareness and Detection Camp on cancer</a></h2>
          </div>
        </div>
        <div class="cs_case_study cs_style_1 cs_hover_active">
          <a href="case-study-details-light.html" class="cs_case_study_thumb cs_bg_filed" data-src="/public/img/activites/1.jpg"></a>
          <span class="cs_case_study_number cs_primary_font cs_accent_color cs_fs_38 cs_semibold position-absolute">03</span>
          <span class="cs_case_study_icon cs_center rounded-circle position-absolute"><i class="fa-solid fa-arrow-right"></i></span>
          <div class="cs_case_study_in">
           
            <h2 class="cs_case_study_title cs_fs_38 cs_white_color mb-0"><a href="case-study-details-light.html">Awareness Programme among students</a></h2>
          </div>
        </div>
        <div class="cs_case_study cs_style_1 cs_hover_active">
          <a href="case-study-details-light.html" class="cs_case_study_thumb cs_bg_filed" data-src="/public/img/activites/2.jpg"></a>
          <span class="cs_case_study_number cs_primary_font cs_accent_color cs_fs_38 cs_semibold position-absolute">04</span>
          <span class="cs_case_study_icon cs_center rounded-circle position-absolute"><i class="fa-solid fa-arrow-right"></i></span>
          <div class="cs_case_study_in">
            
            <h2 class="cs_case_study_title cs_fs_38 cs_white_color mb-0"><a href="case-study-details-light.html">Detection camp on cancer</a></h2>
          </div>
        </div>
      </div>
      <div class="cs_height_100 cs_height_lg_60"></div>
      <div class="container">
        <div class="text-center">
          <a href="#" class="cs_btn cs_style_1">Learn More  <span><i class="fa-solid fa-arrow-right"></i></span></a>
        </div>
      </div>
    </section>
    <!-- End Case Study Section -->
    <!-- Start Video Block Section -->
    <div class="container">
      <div class="cs_height_126 cs_height_lg_70"></div>
      <h2 class="cs_video_block_1_title cs_fs_68 text-center mb-0 text-uppercase">Our Design and Technology <br> Studio is dedicated to making <br> your ideas a reality</h2>
      <div class="cs_height_80 cs_height_lg_45"></div>
      <div class="cs_video_block cs_style_1 cs_bg_filed cs_radius_5 position-relative d-flex justify-content-center align-items-center cs_ripple_activate overflow-hidden" data-src="/public/img/creative-agency/hero_video_bg_1.jpeg">
        <a href="https://youtu.be/dSlbPeZxq2s" class="cs_hero_video_icon cs_video_open">
          <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="40" cy="40" r="40" fill="#FD6219"/>
            <path d="M60.079 39.9998L30.148 57.4394L30.0104 22.7986L60.079 39.9998Z" fill="white"/>
          </svg>                
        </a>
      </div>
    </div>
    <!-- End Video Block Section -->


    <!-- Start FAQ Section -->
    <section>
      <div class="cs_height_143 cs_height_lg_75"></div>
      <div class="container">
        <div class="cs_section_heading cs_style_1 text-center">
          <p class="cs_section_subtitle cs_accent_color cs_fs_18 mb-0 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">FAQs</p>
          <div class="cs_height_10 cs_height_lg_5"></div>
          <h2 class="cs_section_title cs_fs_50 mb-0">Frequently asked question</h2>
        </div>
        <div class="cs_height_55 cs_height_lg_30"></div>
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <div class="cs_accordians cs_style_1 cs_type_1">
              <div class="cs_accordian active">
                <div class="cs_accordian_head">
                  <h2 class="cs_accordian_title cs_fs_21 cs_semibold">01. I need your services and how can i contact you throw email?</h2>
                  <span class="cs_accordian_toggle cs_accent_color"></span>
                </div>
                <div class="cs_accordian_body">
                  <p>Marketing eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born.</p>
                </div>
              </div><!-- .cs_accordian -->
              <div class="cs_accordian">
                <div class="cs_accordian_head">
                  <h2 class="cs_accordian_title cs_fs_21 cs_semibold">02. What are the different types of service we provide?</h2>
                  <span class="cs_accordian_toggle cs_accent_color"></span>
                </div>
                <div class="cs_accordian_body">
                  <p>Marketing eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born.</p>
                </div>
              </div><!-- .cs_accordian -->
              <div class="cs_accordian">
                <div class="cs_accordian_head">
                  <h2 class="cs_accordian_title cs_fs_21 cs_semibold">03. What are the different stages of the working process?</h2>
                  <span class="cs_accordian_toggle cs_accent_color"></span>
                </div>
                <div class="cs_accordian_body">
                  <p>Marketing eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born.</p>
                </div>
              </div><!-- .cs_accordian -->
              <div class="cs_accordian">
                <div class="cs_accordian_head">
                  <h2 class="cs_accordian_title cs_fs_21 cs_semibold">04. What is the difference between direct and digital marketing?</h2>
                  <span class="cs_accordian_toggle cs_accent_color"></span>
                </div>
                <div class="cs_accordian_body">
                  <p>Marketing eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born.</p>
                </div>
              </div><!-- .cs_accordian -->
              <div class="cs_accordian">
                <div class="cs_accordian_head">
                  <h2 class="cs_accordian_title cs_fs_21 cs_semibold">05. How can i payment proceed after complete project?</h2>
                  <span class="cs_accordian_toggle cs_accent_color"></span>
                </div>
                <div class="cs_accordian_body">
                  <p>Marketing eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born.</p>
                </div>
              </div><!-- .cs_accordian -->
            </div><!-- .cs_accordians -->
          </div>
        </div>
      </div>
    </section>
    <!-- End FAQ Section -->
    <div class="cs_height_120 cs_height_lg_60"></div>
    <!-- Start CTA Section -->
    <section>
      <div class="container">
        <div class="cs_cta cs_style_1 cs_bg_filed position-relative cs_radius_5 overflow-hidden text-center" data-src="/public/img/creative-agency/cta_bg.jpeg">
          <div class="cs_cta_shape_1">
            <svg width="100" height="125" viewBox="0 0 100 125" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.75901 123.5C0.925677 116 1.25901 100.6 17.259 99C33.259 97.4 41.5924 103 43.759 106C44.759 108.167 44.059 112.2 33.259 111C22.459 109.8 17.759 96.4998 16.759 89.9998C15.4257 83.3332 17.659 66.0998 37.259 50.4998C56.859 34.8998 71.4257 44.9998 76.259 51.9998C78.9257 55.3332 83.659 63.9 81.259 71.5C78.859 79.1 72.259 80 69.259 79.5C64.9257 78.6667 55.159 74.6 50.759 65C46.359 55.4 46.259 48.3333 46.759 46C48.9257 34.8333 62.159 10.4 97.759 2" stroke="#4F4747" stroke-width="3" stroke-linecap="round"/>
            </svg>                        
          </div>
          <div class="cs_cta_shape_2">
            <svg width="125" height="100" viewBox="0 0 125 100" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.00002 2.75901C9.50002 0.925677 24.9 1.25901 26.5 17.259C28.1 33.259 22.5 41.5924 19.5 43.759C17.3334 44.759 13.3002 44.059 14.5002 33.259C15.7002 22.459 29.0002 17.759 35.5002 16.759C42.1669 15.4257 59.4002 17.659 75.0002 37.259C90.6002 56.859 80.5002 71.4257 73.5002 76.259C70.1668 78.9257 61.6 83.659 54 81.259C46.4 78.859 45.5 72.259 46 69.259C46.8333 64.9257 50.9 55.159 60.5 50.759C70.1 46.359 77.1667 46.259 79.5 46.759C90.6667 48.9257 115.1 62.159 123.5 97.759" stroke="#4F4747" stroke-width="3" stroke-linecap="round"/>
            </svg>                                     
          </div>
          <div class="cs_cta_in position-relative">
            <h2 class="cs_cta_title cs_fs_50 cs_white_color mb-0">Is there a specific project or goal that you have in mind?</h2>
            <div class="cs_height_45 cs_height_lg_30"></div>
            <a href="contact.html" class="cs_btn cs_style_1 cs_btn_white">Contact Us <span><i class="fa-solid fa-arrow-right"></i></span></a>
          </div>
        </div>
      </div>
    </section>
    <!-- End CTA Section -->


    <!-- Start Footer -->
    <footer class="cs_fooer cs_bg_filed" data-src="/public/img/footer_bg.jpeg">
      <div class="cs_fooer_main">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <div class="cs_footer_item">
                <div class="cs_text_widget">
                  <img src="/public/img/logo/logo.png" alt="Logo">
                </div>
                <ul class="cs_menu_widget cs_mp0">
                  <li>34 A, C.N.Roy Road,
                    Kolkata - 7000 39
                    </li>
                  <li>03322832426</li>
                  <li>icskolkata2@gmail.com</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="cs_footer_item">
                <h2 class="cs_widget_title">Activities</h2>
                <ul class="cs_menu_widget cs_mp0">
                  <li>
                    <a href="service-details-light.html">Health Camps ( uploading of pictures
                      chronologically with few details)</a>
                  </li>
                  <li>
                    <a href="service-details-light.html">Programs (do)</a>
                  </li>
                  <li>
                    <a href="service-details-light.html">Women Wellness Clinic</a>
                  </li>
                 
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="cs_footer_item">
                <h2 class="cs_widget_title">Links</h2>
                <ul class="cs_menu_widget cs_mp0">
                  <li><a href="index-light.html">Home</a></li>
                  <li><a href="about-light.html">About</a></li>
                  <li><a href="service-light.html">Activities</a></li>
                  <li><a href="portfolio-light.html">Risk Prevention & Screening</a></li>
                  <li><a href="blog-light.html"></a>Get Involved</li>
                  <li><a href="contact-light.html">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="cs_footer_item">
                <h2 class="cs_widget_title">Subscribe Newsletter </h2>
                <div class="cs_newsletter cs_style_1">
                  <div class="cs_newsletter_text"> We make sure to only send emails that are noteworthy and pertinent to the recipient.</div>
                  <form action="#" class="cs_newsletter_form">
                    <input type="email" class="cs_newsletter_input" placeholder="Email address">
                    <button class="cs_btn cs_style_1">
                      Submit
                      <span><i class="fa-solid fa-arrow-right"></i></span>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="cs_bottom_footer">
          <div class="cs_bottom_footer_left">
            <div class="cs_social_btns cs_style_1">
              <a href="#" class="cs_center">
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
              <a href="#" class="cs_center">
                <i class="fa-brands fa-twitter"></i>
              </a>
              <a href="#" class="cs_center">
                <i class="fa-brands fa-youtube"></i>
              </a>
              <a href="#" class="cs_center">
                <i class="fa-brands fa-slack"></i>
              </a>
            </div>
          </div>
          <div class="cs_copyright">Copyright @ 2024 | Designed By: Plakads Design</div>
          <div class="cs_bottom_footer_right">
            <ul class="cs_footer_links cs_mp0">
              
              <li>
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <!-- Start Scroll Up -->
    <span class="cs_scrollup">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 10L1.7625 11.7625L8.75 4.7875V20H11.25V4.7875L18.225 11.775L20 10L10 0L0 10Z" fill="currentColor" />
      </svg>
    </span>
    <!-- End Scroll Up -->

    <!-- Script -->
    <script src="/public/js/jquery-3.6.0.min.js"></script>
    <script src="/public/js/wow.min.js"></script>
    <script src="/public/js/swiper.min.js"></script>
    <script src="/public/js/odometer.js"></script>
    <script src="/public/js/ripples.min.js"></script>
    <script src="/public/js/isotope.pkg.min.js"></script>
    <script src="/public/js/gsap.min.js"></script>
    <script src="/public/js/main.js"></script>
  </body>
</html>
